.example-viewer h3,
.example-viewer h5 {
	margin-bottom: 10px;
	margin-top: 10px;
}

.example-viewer h3 + h5 {
	margin-top: 0;
}

.example-viewer .btn-controls,
.example-viewer .editor-controls {
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	width: 400px;
}

.example-viewer .editor-controls {
	margin-bottom: 25px;
	margin-top: 25px;
}

.example-viewer .editor-controls button {
	border-color: #333;
	border-radius: 15px;
	border-width: 1px;
	color: #fff;
	display: inline-block;
	font-size: 14pt;
	font-weight: normal;
	height: 50px;
	padding: 5px;
	transition: all;
	transition-delay: 0s;
	transition-duration: .5s;
	width: 130px;
}

.example-viewer .btn-change-example,
.example-viewer .btn-run-example {
	border-color: #333;
	border-radius: 15px;
	border-width: 1px;
	color: #fff;
	display: inline-block;
	font-size: 14pt;
	font-weight: normal;
	height: 50px;
	padding: 5px;
	transition: all;
	transition-delay: 0s;
	transition-duration: .5s;
	width: 190px;
}

.example-viewer .editor-controls button.compact,
.example-viewer .btn-change-example.next {
	background-color: #080;
}

.example-viewer .btn-change-example.prev {
	background-color: #880;
}

.example-viewer .editor-controls button.developer {
	background-color: #777;
}

.example-viewer .editor-controls button.developer:hover {
	background-color: #f90;
}

.example-viewer .editor-controls button.normal {
	background-color: #000;
}

.example-viewer .editor-controls button.normal:hover {
	background-color: #333;
}

@media only screen and (min-width: 615px) {
	.example-viewer .btn-controls,
	.example-viewer .editor-controls {
		width: 600px;
	}

	.example-viewer .btn-change-example {
		width: 250px;
	}

	.example-viewer .editor-controls button {
		width: 190px;
	}
}

.example-viewer .editor-controls button:hover,
.example-viewer .btn-change-example:hover {
	color: #fff;
	font-size: 15pt;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000;
}

.example-viewer .editor-controls button.compact:hover,
.example-viewer .btn-change-example.next:hover {
	background-color: #0c0;
}

.example-viewer .btn-change-example.prev:hover {
	background-color: #cc0;
}

.example-viewer .btn-run-example {
	background-color: #61dafb;
	color: #00f;
	margin-bottom: 50px;
	width: 33%;
}

.example-viewer .btn-run-example:hover {
	background-color: #0c0;
	color: #cc0;
	font-size: 16pt;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000;
	width: 50%;
}

.example-viewer .example-txt {
	overflow-x: scroll;
	overflow-y: scroll;
}
