body {
	background-color: #282c34;
	display: grid;
	height: 100vh;
}

#root {
	align-self: stretch;
	display: grid;
	grid-template-areas:
		". content ."
		"footer footer footer";
	grid-template-columns: 5px 1fr 5px;
	grid-template-rows: 1fr 80px;
}

/*
@media only screen and (min-width: 900px) {
	#root {
		grid-template-columns: 1fr 4fr 1fr;
	}
}
*/

#root > * {
	grid-area: content;
}

#root nav {
	grid-area: footer;
}

.app {
	text-align: center;
}

.app-logo {
	animation: app-logo-spin infinite 20s linear;
	height: 50px;
	margin-top: 15px;
	pointer-events: none;
}

.app-header {
	align-items: center;
	background-color: #282c34;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.app-link {
	color: #61dafb;
}

#root nav ul {
	align-items: stretch;
	background-color: #006;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 100%;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#root nav ul li {
	color: #fff;
	font-size: 16pt;
	font-weight: bold;
	/* padding-top: 10px; */
	position: relative;
	text-align: center;
	transition: all;
	transition-delay: 0ms;
	transition-duration: .5s;
	width: 24%;
}

#root nav ul li a,
#root nav ul li a:visited {
	align-items: center;
	bottom: 0;
	color: #fff;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 0;
}

#root nav ul li:hover {
	background-color: #00b;
	font-weight: bolder;
}

@keyframes app-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
